@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: white;
}


/*Body*/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    width: 95%;
    margin: 0 auto;
    border: 2px solid black;
	background-color: white;
}

/*Header*/
header {
	padding: 2em 0 2.5em 2em;
	background-image: -moz-linear-gradient(
	    30deg, darkred 0%, darkred 70%, white 50%, darkred 80%, darkred 100%);
	background-image: -webkit-linear-gradient(
	    30deg, darkred 0%, #fffded 70%, white 50%, #fffded 80%, darkred 100%);
	background-image: -o-linear-gradient(
	    30deg, darkred 0%, #fffded 70%, white 50%, #fffded 80%, darkred 100%);
	background-image: linear-gradient(
	    30deg, darkred 0%, #fffded 70%, white 50%, #fffded 80%, darkred 100%);
}

header img {
    float: left;
    margin: 0 1em 2em 0; 
}

header h3 {
    float: left;
    margin: 0 0 0 1em;
}

/*Navigation 1 bar*/
#navigation_1 ul {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
	list-style-type: none;
    margin: 10px auto 15px 60px;
    font-size: 18px;
}

#navigation_1 ul li{
    flex-basis: 20%;
}

#navigation_1 ul li a{
    display: block;
    height: 30%;
    padding: 1em 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    color: white;
}

#navigation_1 a:visited {
    color: grey;
    background-color: black;
}

#navigation_1 a:hover, a:link {
    color: darkred;
}



/*Navigation 2 bar*/
#navigation_2 ul{
    padding-left: 20px;
    margin: 2px 2px;
}

#navigation_2 a:visited {
    color: darkblue;
}

#navigation_2 a:hover, a:link {
    color: darkred;
}

#navigation_2 img {
    margin-right: 10px;
}

/*Main*/
main {
    display: flex;
}

/*Section main - Italy*/
#italy_cities img {
    float: left;
	margin: 0em 1em 1em 0em;
	border: 1px solid black;
}

#italy_cities h2 {
    color: darkred;
}

#italy_cities {
	flex-basis: 80%;
    order: 2;
    padding: 10px 20px 20px 20px;
}

/*Aside*/
aside{
	order: 1;
	flex-basis: 20%;
	padding: 20px 0 20px 20px;
}
aside h2 {
	color: grey;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

/*Footer*/
footer {
    padding: .5em 0 1em .5em;
	background-image: -moz-linear-gradient(
	    30deg, darkred 0%, darkred 70%, white 50%, darkred 70%, darkred 100%);
	background-image: -webkit-linear-gradient(
	    30deg, darkred 0%, #fffded 70%, white 50%, #fffded 70%, darkred 100%);
	background-image: -o-linear-gradient(
	    30deg, darkred 0%, #fffded 70%, white 50%, #fffded 70%, darkred 100%);
	background-image: linear-gradient(
	    30deg, darkred 0%, #fffded 70%, white 50%, #fffded 70%, darkred 100%);
    clear: both;
}
	
footer p {
	text-align: left;
	color: white;
    padding: .5em 0 0 .5em;
}

#mobile_menu {
	display: none;
}

/* tablet portrait to standard 960 */
@media only screen and (max-width: 959px) {
	section h1 { font-size: 135%; }
    section h2, aside h2 { font-size: 120%; }
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
	header img {
        float: center;
    }

	header {
        display: flex;
        text-align: center;
    }

    header, footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    header h2, header h3 { flex-basis: 100%; }

    main { flex-direction: column; }

	#italy_cities {
	    order: 1;
        width: 90%;
    }
    
    #italy_cities img { 
        max-width: 60%;
    }

	aside {
        order: 2;
        width: 90%;
	}
	
	#navigation_1 {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: darkred !important;
	}
}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
	body { 
        font-size: 90%; 
    }
}
